.carouselSection {
    position: relative;
    margin-bottom: 70px;

    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carouselTitle {
        background: var(--gradient1);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: 24px;
        margin-bottom: 3px;
        color: white;
        font-weight: normal;
    }
}